---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat?output=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      Last-Modified:
      - Fri, 01 Feb 2013 01:56:03 GMT
      Etag:
      - ! '"c6a66044346cf953838d2eb81693fe79"'
      X-Github-Media-Type:
      - github.beta; format=json
    body:
      encoding: US-ASCII
      string: ! '{"login":"octocat","id":583231,"avatar_url":"https://secure.gravatar.com/avatar/7ad39074b0584bc555d0417ae3e7d974?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","gravatar_id":"7ad39074b0584bc555d0417ae3e7d974","url":"https://api.github.com/users/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","name":"The
        Octocat","company":"GitHub","blog":"http://www.github.com/blog","location":"San
        Francisco","email":"octocat@github.com","hireable":false,"bio":null,"public_repos":3,"followers":299,"following":0,"html_url":"https://github.com/octocat","created_at":"2011-01-25T18:44:36Z","updated_at":"2013-02-01T01:56:03Z","public_gists":4}'
  recorded_at: Wed, 13 Feb 2013 06:52:31 GMT
recorded_with: VCR 2.4.0
